In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Save path to data set in a variable
data_file = "purchase_data.json"
data_file2 = "purchase_data2.json"
# pd_test = pd.Series([1,2,3,4])
# print(pd_test)

In [3]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'

In [4]:
#Use pandas to read the data
print(data_file)
#data_file_pd = pd.read_json(data_file)
pd_file = pd.read_json(data_file)
pd_file.head()

purchase_data.json

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [43]:
pd_file.head

<bound method NDFrame.head of      Age                 Gender  Item ID  \
0     38                   Male      165
1     21                   Male      119
2     34                   Male      174
3     21                   Male       92
4     23                   Male       63
5     20                   Male       10
6     20                   Male      153
7     29                 Female      169
8     25                   Male      118
9     31                   Male       99
10    24                   Male       57
11    20                   Male       47
12    30                   Male       81
13    23                   Male       77
14    40                   Male       44
15    21                   Male       96
16    22                 Female      123
17    22                 Female       59
18    28                   Male       91
19    31                   Male      177
20    24                   Male       78
21    15                   Male        3
22    11                 Female       11
23    19                   Male      183
24    11                   Male       65
25    21                   Male       63
26    29                   Male      132
27    34                   Male      106
28    15                   Male       49
29    16                 Female       45
..   ...                    ...      ...
750   23                   Male       86
751   26                 Female      179
752   15                 Female      116
753   20                   Male        4
754   31                   Male      104
755   22                 Female      179
756   22                   Male        6
757   35                   Male       11
758   20                   Male      122
759   19                   Male       87
760   29                   Male       81
761   28                   Male      175
762   36                   Male       52
763   27  Other / Non-Disclosed       48
764   25                   Male       70
765   15                   Male       13
766   22                 Female       84
767   20                   Male      122
768   21                   Male      158
769   24                   Male       73
770   22                   Male      141
771   24                   Male       25
772   15                   Male       31
773   21                   Male       44
774   24                   Male      123
775   22                   Male       98
776   14                   Male      104
777   20                   Male      117
778   20                   Male       75
779   23                 Female      107

                                     Item Name  Price               SN
0                  Bone Crushing Silver Skewer   3.37        Aelalis34
1    Stormbringer, Dark Blade of Ending Misery   2.32           Eolo46
2                              Primitive Blade   2.46      Assastnya25
3                                 Final Critic   1.36     Pheusrical25
4                               Stormfury Mace   1.27           Aela59
5                                  Sleepwalker   1.73       Tanimnya91
6                              Mercenary Sabre   4.57      Undjaskla97
7       Interrogator, Blood Blade of the Queen   3.32     Iathenudil29
8             Ghost Reaver, Longsword of Magic   2.77     Sondenasta63
9         Expiration, Warscythe Of Lost Worlds   4.53       Hilaerin92
10             Despair, Favor of Due Diligence   3.81       Chamosia29
11                 Alpha, Reach of Ending Hope   1.55          Sally64
12                                   Dreamkiss   4.06        Iskossa88
13                  Piety, Guardian of Riddles   3.68  Seorithstilis90
14                       Bonecarvin Battle Axe   2.46        Sundast29
15                 Blood-Forged Skeletal Spine   4.77       Haellysu29
16                           Twilight's Carver   1.14       Sundista85
17               Lightning, Etcher of the King   1.65        Aenarap34
18                                     Celeste   3.71        Iskista88
19    Winterthorn, Defender of Shifting Worlds   4.89        Assossa43
20                  Glimmer, Ender of the Moon   2.33          Irith83
21                                Phantomlight   1.79      Iaralrgue74
22                                   Brimstone   2.52         Deural48
23                         Dragon's Greatsword   2.36       Chanosia65
24                   Conqueror Adamantite Mace   1.96         Qarwen67
25                              Stormfury Mace   1.27           Idai61
26                                  Persuasion   3.90    Aerithllora36
27                         Crying Steel Sickle   2.29      Assastnya25
28            The Oculus, Token of Lost Worlds   4.23      Ilariarin45
29                         Glinting Glass Edge   2.46        Phaedai25
..                                         ...    ...              ...
750                          Stormfury Lantern   1.28         Eollym91
751            Wolf, Promise of the Moonwalker   1.88     Lisjasksda68
752                    Renewed Skeletal Katana   2.37    Yalostiphos68
753                         Bloodlord's Fetish   2.28      Thryallym62
754                         Gladiator's Glaive   1.36      Sondastan54
755            Wolf, Promise of the Moonwalker   1.88      Ailaesuir66
756                                Rusty Skull   1.20         Siasri67
757                                  Brimstone   2.52         Seosri62
758                           Unending Tyranny   1.21      Ryastycal90
759                   Deluge, Edge of the West   2.20    Chanirrasta87
760                                  Dreamkiss   4.06    Aerithllora36
761                 Woeful Adamantite Claymore   1.24      Raeduerin33
762                                     Hatred   4.39      Lisosiast26
763            Rage, Legacy of the Lone Victor   4.32       Eurisuru25
764                                 Hope's End   3.89     Assassasda84
765                                   Serenity   1.49    Aerithnucal56
766                                 Arcane Gem   2.23      Nitherian58
767                           Unending Tyranny   1.21      Hailaphos89
768         Darkheart, Butcher of the Champion   3.56     Chamucosda93
769                                Ritual Mace   3.74   Frichilsasya78
770                                 Persuasion   3.27         Aenasu69
771                                  Hero Cane   1.03       Lassista97
772                                  Trickster   2.07          Sidap51
773                      Bonecarvin Battle Axe   2.46    Chamadarsda63
774                          Twilight's Carver   1.14     Lassassast73
775                Deadline, Voice Of Subtlety   3.62          Eural50
776                         Gladiator's Glaive   1.36       Lirtossa78
777          Heartstriker, Legacy of the Light   4.15       Tillyrin30
778                    Brutality Ivory Warmace   1.72       Quelaton80
779                  Splitter, Foe Of Subtlety   3.61           Alim85

[780 rows x 6 columns]>

In [5]:
players_count = len(pd_file["SN"].value_counts())
players_count

573

In [6]:
#Unique Number of Items
unique_purchases = len(pd_file["Price"].unique())
unique_purchases

152

In [7]:
price_mean = pd_file["Price"].mean()
price_mean

2.931192307692303

In [8]:
#Total Number of Prurchases
purch_count = len(pd_file["Price"])
purch_count

780

In [9]:
totalRev = sum(pd_file["Price"])
totalRev

2286.3299999999963

In [10]:
player_count = pd.DataFrame({"Player Count": players_count},
                           index = [0])
player_count

   Player Count
0           573

In [11]:
#Convert series into DataFrams
purchaseAnalysis= pd.DataFrame({"Number of Unique Items": unique_purchases,
                           "Average Purchase Price": price_mean,
                           "Total Number of Purchases": purch_count,
                           "Total Revenue": totalRev},
                          index = [0])
purchaseAnalysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,152,780,2286.33

In [12]:
#Gender Demographics
#Percentage and Counts of Male/Female Players
#Percentage and Counts of Other/Non-Disclosed
#same player can have multiple items 
male_count_1 = pd_file.groupby(["SN", "Gender"]).size()
#male_count_1.count().head()

players_1 = pd.DataFrame(male_count_1)
players_1
players_2 = pd.DataFrame(players_1.groupby(["Gender"]).count())
players_2.columns = ["GenderCount"]
players_2

                       GenderCount
Gender
Female                         100
Male                           465
Other / Non-Disclosed            8

In [13]:
# players_male = len(pd_file.loc[pd_file["Gender"] == "Male"])
# players_male
# male_players = len(male_count_1)
# male_players
players_male = players_2["GenderCount"].loc["Male"]
print(players_male)

465

In [14]:
# male_percentage = male_players / purch_count
# male_percentage * 100
male_percentage = round(players_male / player_count, 2) * 100
male_percentage
#male_percentage * 100

   Player Count
0          81.0

In [15]:
# female_players = len(pd_file.loc[pd_file["Gender"] == "Female"])
# female_players
female_players = players_2["GenderCount"].loc["Female"]
female_players

100

In [17]:
female_percentage = round(female_players / player_count, 2) * 100
female_percentage
#female_percentage * 100

   Player Count
0          17.0

In [18]:
# other_players = len(pd_file[pd_file["Gender"] == "Other / Non-Disclosed"])
# other_players
other_players = players_2["GenderCount"].loc["Other / Non-Disclosed"]
other_players

8

In [19]:
other_percentage = round(other_players / player_count, 2) * 100
other_percentage 
#other_percentage * 100

   Player Count
0           1.0

In [20]:
#Convert series into DataFrames
genderDemo= pd.DataFrame({"Count of Male Players": players_male,
                           "Percent of Male Players": male_percentage,
                           "Count of Female Players": female_players,
                           "Percent of Female Players": female_percentage,
                           "Count of Other / Non-Disclosed": other_players,
                           "Percent of Other / Non-Disclosed": other_percentage},
        
                          index = [0])
genderDemo

,Count of Female Players,Count of Male Players,Count of Other / Non-Disclosed,Percent of Female Players,Percent of Male Players,Percent of Other / Non-Disclosed
0,100,465,8,17,81,1

In [21]:
#Gender Purchase Analysis
purchGender = pd_file.groupby(["Gender"])
purchGender.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84

In [22]:
gnpurcount = pd_file["Gender"].value_counts()
#gnpurcount = pd.DataFrame(purchGender[3].value_counts())
gnpurcount

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [23]:
groupprice1 = purchGender["Price"].mean()
groupprice1

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [24]:
purchbygen = purchGender["Price"].sum()
purchbygen

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [25]:
normtotal = round(purchbygen/players_2["GenderCount"],2)
normtotal

Gender
Female                   3.83
Male                     4.02
Other / Non-Disclosed    4.47
dtype: float64

In [26]:
genderpa = pd.DataFrame({"Purchase Count":gnpurcount,
                        "Average Purchase Price":groupprice1,
                         "Total Purchase Value":purchbygen,
                          "Normalized Total": normtotal} )
genderpa

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
Female,2.815515,3.83,136,382.91
Male,2.950521,4.02,633,1867.68
Other / Non-Disclosed,3.249091,4.47,11,35.74

In [27]:
# Figure out the maximum age 
print(pd_file["Age"].max())

#Figure out data type for Aga.
#pd_file["Age"].dtype

45

# AGE DEMOGRAPHICS

In [28]:
#Age Demographics
#Break into Bins of 4 Years
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29",
             "30-34", "35-39", "40+"]
group_names

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [32]:
pd.cut(pd_file["Age"], bins, labels = group_names).head()

0    35-39
1    20-24
2    30-34
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [48]:
pd_file["Age Range"] = pd.cut(pd_file["Age"], bins, labels = group_names)
pd_file.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [51]:
#Purchase Count

# purchase_dem = pd_file.groupby("Age Range").count()
# purchase_dem = pd_file[['Age Range', 'Item Name']]
# purchase_dem = pd_file.groupby("Age Range").count()
# purchase_dem = purchase_dem.rename(columns = {'Item Name': 'Item Count'})
# purchase_dem = pd.DataFrame(purchase_dem)

# print(purchase_dem)

#Groupby demographics
demoGroup = pd_file.groupby("Age Range")
#How many rows per bin
print(demoGroup["Age Range"].count())
#Average of each column within GroupBy
demoGroup.mean()

Age Range
<10       28
10-14     35
15-19    133
20-24    336
25-29    125
30-34     64
35-39     42
40+       17
Name: Age Range, dtype: int64

                 Age     Item ID     Price
Age Range
<10         7.535714   82.321429  2.980714
10-14      12.171429   90.600000  2.770000
15-19      16.631579   94.443609  2.905414
20-24      21.875000   86.038690  2.913006
25-29      26.200000   93.832000  2.962640
30-34      31.609375  101.453125  3.082031
35-39      36.714286  107.071429  2.842857
40+        40.588235   90.823529  3.161765

In [65]:
demoGroup.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40+
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73,15-19
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26,10-14
54,25,Female,101,Final Critic,4.62,Minduli80,25-29
68,11,Male,38,"The Void, Vengeance of Dark Magic",2.82,Qarwen67,10-14
70,7,Female,158,"Darkheart, Butcher of the Champion",3.56,Eosurdru76,<10
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64,35-39
106,37,Female,174,Primitive Blade,2.46,Chadossa56,35-39
117,11,Male,160,Azurewrath,2.22,Qarwen67,10-14
121,7,Male,175,Woeful Adamantite Claymore,1.24,Lassjask63,<10
125,7,Female,10,Sleepwalker,1.73,Heosurnuru52,<10
170,9,Male,71,Demise,4.07,Reulae52,<10
175,35,Male,34,Retribution Axe,4.14,Raillydeu47,35-39
179,40,Male,70,Hope's End,3.89,Chanosiaya39,40+
186,40,Male,144,Blood Infused Guardian,2.86,Chanosiaya39,40+
189,35,Male,179,"Wolf, Promise of the Moonwalker",1.88,Raillydeu47,35-39
212,40,Male,111,Misery's End,2.91,Yarmol79,40+
237,7,Male,121,Massacre,3.42,Lisistaya47,<10
238,40,Female,49,"The Oculus, Token of Lost Worlds",4.23,Chamadar27,40+

In [62]:
purchcount = demoGroup["Age Range"].count()
purchcount

Age Range
<10       28
10-14     35
15-19    133
20-24    336
25-29    125
30-34     64
35-39     42
40+       17
Name: Age Range, dtype: int64

In [61]:
#Groupby demographics
#demoGroup = pd_file.groupby("Age Range")
#How many rows per bin
agegroupprice = round(demoGroup["Price"].mean(),2)
agegroupprice

Age Range
<10      2.98
10-14    2.77
15-19    2.91
20-24    2.91
25-29    2.96
30-34    3.08
35-39    2.84
40+      3.16
Name: Price, dtype: float64

In [63]:
purchbyage = round(demoGroup["Price"].sum(),2)
purchbyage

Age Range
<10       83.46
10-14     96.95
15-19    386.42
20-24    978.77
25-29    370.33
30-34    197.25
35-39    119.40
40+       53.75
Name: Price, dtype: float64

In [66]:
normage = round(purchbyage/purchcount,2)
normage

Age Range
<10      2.98
10-14    2.77
15-19    2.91
20-24    2.91
25-29    2.96
30-34    3.08
35-39    2.84
40+      3.16
dtype: float64

In [67]:
#Create a dataframe with Age, Purchase Count, Average Purchase Price, Total Purchase Value and Normalized Totals

ageanalysis = pd.DataFrame({"Purchase Count":purchcount,
                        "Average Purchase Price":agegroupprice,
                         "Total Purchase Value":purchbyage,
                          "Normalized Total": normage} )
ageanalysis

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
Age Range,,,,
<10,2.98,2.98,28,83.46
10-14,2.77,2.77,35,96.95
15-19,2.91,2.91,133,386.42
20-24,2.91,2.91,336,978.77
25-29,2.96,2.96,125,370.33
30-34,3.08,3.08,64,197.25
35-39,2.84,2.84,42,119.40
40+,3.16,3.16,17,53.75

In [115]:
#Top 5 spenders by total purchase value
topspender = pd_file.groupby("SN").sum()
topspender = SN_df_ts.sort_values('Price').tail()
del topspender["Item ID"]
del topspender["Age"]
topspend = topspender.sort_values('Price').tail()
print(topspend)
# topspend.sn.unique()

#topspenders = pd.DataFrame({"Top Spenders":topspender},index = [1])
#topspend.resetindex()
# demographic = topspend["Price"]
# demographic

             Price
SN
Eoda93       11.58
Haellysu29   12.73
Mindimnya67  12.74
Saedue76     13.56
Undirrala66  17.06

In [122]:
#Top 5 spenders total purchases
numpurch = pd.DataFrame(pd_file.groupby("SN").count())

#Top 5 spenders total purchase value
topspender = pd.DataFrame(pd_file.groupby("SN").sum())

#Sort the total purchase price. The default to sort_values is ascending. If I put , ascending=False would be descending.
topspender = topspender.sort_values(by=["Price"])


topspender["Purchase Count"] = numpurch["Item ID"]
topspender["Average Purchase Price"] = round(topspender["Price"]/topspender["Purchase Count"],2).map("${:,.2f}".format)
topspender["Total Purchase Value"] = topspender["Price"].map("${:,.2f}".format)

#I could have done topspender.head() if I sorted descending. 
topspender.tail()

,Age,Item ID,Price,Purchase Count,Average Purchase Price,Total Purchase Value
SN,,,,,,
Eoda93,66,284,11.58,3,$3.86,$11.58
Haellysu29,63,353,12.73,3,$4.24,$12.73
Mindimnya67,156,609,12.74,4,$3.18,$12.74
Saedue76,100,233,13.56,4,$3.39,$13.56
Undirrala66,145,472,17.06,5,$3.41,$17.06

In [147]:
#pd_file.head()
pd_file = pd_file.drop(labels = ["Age Range"],axis = 1)
pd_file.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [184]:
topspendpurchcount = pd.DataFrame(pd_file.groupby(["Item ID", "Item Name"]).count())
topspendpurchcount.head()

                            Age  Gender  Price  SN
Item ID Item Name
0       Splinter              1       1      1   1
1       Crucifer              4       4      4   4
2       Verdict               1       1      1   1
3       Phantomlight          1       1      1   1
4       Bloodlord's Fetish    1       1      1   1

In [188]:
#Most Popular Items
topspendpurchcount = pd.DataFrame(pd_file.groupby(["Item ID", "Item Name"]).count())
#print(topspendpurchcount)

#Top 5 spenders total purchase value
topitemvalue = pd.DataFrame(pd_file.groupby(["Item ID","Item Name"]).sum()["Price"])
#topitemvalue

#Renaming SN to Purchase Count as it will show how many times the item was purchased. (A person purchases an item.)
topspendpurchcount["Purchase Count"] = topspendpurchcount["SN"]

#Item Price is the sum of prices paid per item divided by the total number of people who bought it.
topspendpurchcount["Item Price"] = round(topitemvalue["Price"]/topspendpurchcount["SN"],2)

#Total Purchase Value is the sum of prices. This is in the topvalueitem dataframe.
topspendpurchcount["Total Purchase Value"] = topitemvalue["Price"]

#The most popular items by purchase count would require us to sort by purchase count descending (highest to lowest).
topspendpurchcount = topspendpurchcount.sort_values(by = ["Purchase Count","Total Purchase Value"],ascending = False)
#topspendpurchcount = topspendpurchcount.sort_values(by = ["Purchase Count"],ascending = False)

#Deleting columns that are not necessary to output. This was not deleted from our original data source, pd_file.
topspendpurchcount = topspendpurchcount.drop(labels = ["Age","Gender","Price","SN"],axis = 1)

##Format the columns for currency as they are monetary values.
topspendpurchcount["Item Price"] = topspendpurchcount["Item Price"].map("${:,.2f}".format)
topspendpurchcount["Total Purchase Value"] = topspendpurchcount["Total Purchase Value"].map("${:,.2f}".format)

#Top 5 Popular Items
topspendpurchcount.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
34,Retribution Axe,9,$4.14,$37.26
31,Trickster,9,$2.07,$18.63
13,Serenity,9,$1.49,$13.41

In [189]:
#Most Profitable Items
topspendpurchcount = pd.DataFrame(pd_file.groupby(["Item ID", "Item Name"]).count())
#print(topspendpurchcount)

#Top 5 spenders total purchase value
topitemvalue = pd.DataFrame(pd_file.groupby(["Item ID","Item Name"]).sum()["Price"])
#topitemvalue

#Renaming SN to Purchase Count as it will show how many times the item was purchased. (A person purchases an item.)
topspendpurchcount["Purchase Count"] = topspendpurchcount["SN"]

#Item Price is the sum of prices paid per item divided by the total number of people who bought it.
topspendpurchcount["Item Price"] = round(topitemvalue["Price"]/topspendpurchcount["SN"],2)

#Total Purchase Value is the sum of prices. This is in the topvalueitem dataframe.
topspendpurchcount["Total Purchase Value"] = topitemvalue["Price"]

#The most popular items by purchase count would require us to sort by purchase count descending (highest to lowest).
topspendpurchcount = topspendpurchcount.sort_values(by = ["Total Purchase Value", "Purchase Count"],ascending = False)
#topspendpurchcount = topspendpurchcount.sort_values(by = ["Purchase Count"],ascending = False)

#Deleting columns that are not necessary to output. This was not deleted from our original data source, pd_file.
topspendpurchcount = topspendpurchcount.drop(labels = ["Age","Gender","Price","SN"],axis = 1)

##Format the columns for currency as they are monetary values.
topspendpurchcount["Item Price"] = topspendpurchcount["Item Price"].map("${:,.2f}".format)
topspendpurchcount["Total Purchase Value"] = topspendpurchcount["Total Purchase Value"].map("${:,.2f}".format)

#Top 5 Popular Items
topspendpurchcount.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88

In [173]:
most_prof_total = pd.DataFrame(pd_file.groupby(['Item ID','Item Name']).count())
most_prof_total.head()
most_prof_total = most_prof_total.groupby(["Item ID","Item Name"]).sum()["Price"]
most_prof_total.head()
# topspender.head
# state_duration = grouped_usa_df["duration (seconds)"].sum()
# state_duration.head()
# most_pop_avg = pd_file.groupby(['Item ID','Item Name']).mean()["Price"]
# most_pop_avg.head()
# most_pop_count = pd_file.groupby(['Item ID','Item Name']).count()["Price"]
# most_pop_count.head()

Item ID  Item Name
0        Splinter              1
1        Crucifer              4
2        Verdict               1
3        Phantomlight          1
4        Bloodlord's Fetish    1
Name: Price, dtype: int64

In [81]:
 #Purchase Count
topspendpurchcount = pd_file.groupby("SN").count()
topspendpurchcount = topspendpurchcount.drop(["Age","Gender","Item Name","Age Range","Price"], axis = 1)
spendpurch = topspendpurchcount.sort_values("Item ID").tail()
spendpurch = spendpurch.rename(columns = {'Item ID': 'Purchase Count'})
print(spendpurch)

             Purchase Count
SN
Sondastan54               4
Qarwen67                  4
Mindimnya67               4
Hailaphos89               4
Undirrala66               5

In [33]:
#Get Percentage of Players
#percentplayers =

In [34]:
#Dataframe by age
#Gender Purchase Analysis
age_df = pd_file.groupby(["Age"])
age_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
392,35,Male,159,"Oathbreaker, Spellblade of Trials",3.01,Seosri62
393,9,Male,16,Restored Bauble,3.11,Silinu63
402,8,Male,65,Conqueror Adamantite Mace,1.96,Tyaenasti87
436,10,Male,131,Fury,4.82,Ethrusuard41
450,39,Female,140,Striker,3.82,Mindimnya67
451,12,Male,163,Thunderfury Scimitar,3.02,Undistasta86
454,9,Female,100,Blindscythe,3.66,Jiskosiala43
464,39,Female,163,Thunderfury Scimitar,3.02,Mindimnya67
476,36,Male,31,Trickster,2.07,Chanjask65
493,36,Male,57,"Despair, Favor of Due Diligence",3.81,Chadjask77
497,38,Male,40,Second Chance,2.34,Filon68
505,8,Male,15,Soul Infused Crystal,1.03,Iladarla40
508,38,Male,181,Reaper's Toll,4.56,Tyisriphos58
509,28,Male,92,Final Critic,1.36,Iskista88
511,12,Male,70,Hope's End,3.89,Sondossa55
513,13,Male,159,"Oathbreaker, Spellblade of Trials",3.01,Malista67
522,38,Male,148,"Warmonger, Gift of Suffering's End",3.96,Inguard95
525,36,Male,182,Toothpick,3.48,Chadjask77
531,14,Male,80,Dreamsong,3.81,Lirtosia72
538,14,Male,183,Dragon's Greatsword,2.36,Lirtosia72
582,9,Male,26,Unholy Wand,1.88,Saralp86
592,39,Female,145,Fiery Glass Crusader,4.45,Mindimnya67
623,39,Female,161,Devine,1.45,Mindimnya67
644,43,Male,57,"Despair, Favor of Due Diligence",3.81,Raesurdil91
656,10,Female,63,Stormfury Mace,1.27,Ilaststa70
657,28,Male,32,Orenmir,4.95,Tyarithn67
668,36,Male,124,Venom Claymore,2.72,Chadjask77
730,10,Female,148,"Warmonger, Gift of Suffering's End",3.96,Hiadanurin36
735,10,Male,16,Restored Bauble,3.11,Ethrusuard41
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33

In [35]:
#Purchase Count
agepurcount = pd_file["Age"].value_counts()
agepurcount.head()

20    98
24    70
22    68
25    67
23    57
Name: Age, dtype: int64

In [36]:
#Average Purchase Price
agegroupprice = age_df["Price"].mean()
agegroupprice

Age
7     2.919474
8     1.956667
9     3.686667
10    3.290000
11    2.973333
12    3.842000
13    2.138182
14    2.383333
15    2.986383
16    2.639565
17    3.006471
18    2.797500
19    3.050000
20    2.884490
21    2.799302
22    3.030147
23    2.740526
24    3.049429
25    3.082388
26    2.448462
27    3.063684
28    2.562000
29    2.902857
30    3.111667
31    2.976250
32    3.409091
33    2.890909
34    3.040000
35    3.085000
36    2.877143
37    2.345556
38    2.865556
39    3.068000
40    3.222143
42    2.110000
43    3.810000
45    2.720000
Name: Price, dtype: float64

In [37]:
#Total Purchase Value
purchbyage = age_df["Price"].sum()
purchbyage

Age
7      55.47
8       5.87
9      22.12
10     13.16
11     26.76
12     19.21
13     23.52
14     14.30
15    140.36
16     60.71
17     51.11
18     67.14
19     67.10
20    282.68
21    120.37
22    206.05
23    156.21
24    213.46
25    206.52
26     31.83
27     58.21
28     12.81
29     60.96
30     56.01
31     47.62
32     37.50
33     31.80
34     24.32
35     37.02
36     20.14
37     21.11
38     25.79
39     15.34
40     45.11
42      2.11
43      3.81
45      2.72
Name: Price, dtype: float64

In [38]:
#NEED TO CHANGE - TEMPORARY
normage = 0
#=round(purchbygen/players_2["GenderCount"],2)
# normage

In [39]:
#Create a dataframe with Age, Purchase Count, Average Purchase Price, Total Purchase Value and Normalized Totals
ageanalysis = pd.DataFrame({"Purchase Count":agepurcount,
                        "Average Purchase Price":agegroupprice,
                         "Total Purchase Value":purchbyage,
                          "Normalized Total": normage} )
ageanalysis

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
Age,,,,
7,2.919474,0,19,55.47
8,1.956667,0,3,5.87
9,3.686667,0,6,22.12
10,3.290000,0,4,13.16
11,2.973333,0,9,26.76
12,3.842000,0,5,19.21
13,2.138182,0,11,23.52
14,2.383333,0,6,14.30
15,2.986383,0,47,140.36
16,2.639565,0,23,60.71
17,3.006471,0,17,51.11
18,2.797500,0,24,67.14
19,3.050000,0,22,67.10
20,2.884490,0,98,282.68
21,2.799302,0,43,120.37
22,3.030147,0,68,206.05
23,2.740526,0,57,156.21
24,3.049429,0,70,213.46
25,3.082388,0,67,206.52
26,2.448462,0,13,31.83
27,3.063684,0,19,58.21
28,2.562000,0,5,12.81
29,2.902857,0,21,60.96
30,3.111667,0,18,56.01
31,2.976250,0,16,47.62
32,3.409091,0,11,37.50
33,2.890909,0,11,31.80
34,3.040000,0,8,24.32
35,3.085000,0,12,37.02
36,2.877143,0,7,20.14
37,2.345556,0,9,21.11
38,2.865556,0,9,25.79
39,3.068000,0,5,15.34
40,3.222143,0,14,45.11
42,2.110000,0,1,2.11
43,3.810000,0,1,3.81
45,2.720000,0,1,2.72

In [40]:
ageanalysis["Age Groups"] = pd.cut(pd_file["Age"], bins, labels=group_names)
ageanalysis

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value,Age Groups
Age,,,,,
7,2.919474,0,19,55.47,25-29
8,1.956667,0,3,5.87,25-29
9,3.686667,0,6,22.12,30-34
10,3.290000,0,4,13.16,20-24
11,2.973333,0,9,26.76,20-24
12,3.842000,0,5,19.21,30-34
13,2.138182,0,11,23.52,20-24
14,2.383333,0,6,14.30,40+
15,2.986383,0,47,140.36,20-24
16,2.639565,0,23,60.71,20-24
17,3.006471,0,17,51.11,20-24
18,2.797500,0,24,67.14,25-29
19,3.050000,0,22,67.10,30-34
20,2.884490,0,98,282.68,20-24
21,2.799302,0,43,120.37,15-19
22,3.030147,0,68,206.05,10-14
23,2.740526,0,57,156.21,15-19
24,3.049429,0,70,213.46,10-14
25,3.082388,0,67,206.52,20-24
26,2.448462,0,13,31.83,25-29
27,3.063684,0,19,58.21,30-34
28,2.562000,0,5,12.81,15-19
29,2.902857,0,21,60.96,15-19
30,3.111667,0,18,56.01,20-24
31,2.976250,0,16,47.62,15-19
32,3.409091,0,11,37.50,15-19
33,2.890909,0,11,31.80,20-24
34,3.040000,0,8,24.32,20-24
35,3.085000,0,12,37.02,20-24
36,2.877143,0,7,20.14,20-24
37,2.345556,0,9,21.11,30-34
38,2.865556,0,9,25.79,20-24
39,3.068000,0,5,15.34,20-24
40,3.222143,0,14,45.11,30-34
42,2.110000,0,1,2.11,20-24
43,3.810000,0,1,3.81,20-24
45,2.720000,0,1,2.72,20-24

In [44]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'