In [24]:
#Dependencies
import pandas as pd
import numpy as np

In [25]:
#Save path to data set in a variable
data_file = "purchase_data.json"
data_file2 = "purchase_data2.json"
# pd_test = pd.Series([1,2,3,4])
# print(pd_test)

In [26]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'

In [27]:
#Use pandas to read the data
print(data_file)
#data_file_pd = pd.read_json(data_file)
pd_file = pd.read_json(data_file)
pd_file.head()

purchase_data.json

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

AttributeError: 'str' object has no attribute 'head'

In [7]:
pwd

'C:\\Users\\mukag\\OneDrive\\Documents\\rcb'