In [24]:
#Dependencies
import pandas as pd
import numpy as np

In [25]:
#Save path to data set in a variable
data_file = "purchase_data.json"
data_file2 = "purchase_data2.json"
# pd_test = pd.Series([1,2,3,4])
# print(pd_test)

In [26]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'

In [27]:
#Use pandas to read the data
print(data_file)
#data_file_pd = pd.read_json(data_file)
pd_file = pd.read_json(data_file)
pd_file.head()

purchase_data.json

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [33]:
players_count = len(pd_file["SN"])
players_count

780

In [35]:
#Unique Number of Items
unique_purchases = len(pd_file["Price"].unique())
unique_purchases

152

In [36]:
price_mean = pd_file["Price"].mean()
price_mean

2.931192307692303

In [37]:
#Total Number of Prurchases
purch_count = len(pd_file["Price"])
purch_count

780

In [38]:
totalRev = sum(pd_file["Price"])
totalRev

2286.3299999999963

In [39]:
player_count = pd.DataFrame({"Player Count": players_count},
                           index = [0])
player_count

   Player Count
0           780

In [40]:
#Convert series into DataFrams
purchaseAnalysis= pd.DataFrame({"Number of Unique Items": unique_purchases,
                           "Average Purchase Price": price_mean,
                           "Total Number of Purchases": purch_count,
                           "Total Revenue": totalRev},
                          index = [0])
purchaseAnalysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,152,780,2286.33

In [42]:
#Gender Demographics
#Percentage and Counts of Male/Female Players
#Percentage and Counts of Other/Non-Disclosed
male_count_1 = pd_file.groupby(["SN", "Gender"])
male_count_1.count().head()

                     Age  Item ID  Item Name  Price
SN           Gender
Adairialis76 Male      1        1          1      1
Aduephos78   Male      3        3          3      3
Aeduera68    Male      3        3          3      3
Aela49       Male      1        1          1      1
Aela59       Male      1        1          1      1

In [45]:
players_male = len(pd_file.loc[pd_file["Gender"] == "Male"])
players_male

633

In [50]:
male_players = len(male_count_1)
male_players

573

In [60]:
male_percentage = male_players / purch_count
male_percentage * 100

73.46153846153847

In [62]:
female_players = len(pd_file.loc[pd_file["Gender"] == "Female"])
female_players

136

In [64]:
female_percentage = female_players_1 / purch_count
female_percentage * 100

17.435897435897434

In [57]:
other_players = len(pd_file[pd_file["Gender"] == "Other / Non-Disclosed"])
other_players

11

In [59]:
other_percentage = other_players_1 / purch_count
other_percentage * 100

1.4102564102564104

In [66]:
#Convert series into DataFrames
genderDemo= pd.DataFrame({"Count of Male Players": male_players,
                           "Percent of Male Players": male_percentage,
                           "Count of Female Players": female_players,
                           "Percent of Female Players": female_percentage,
                           "Count of Other / Non-Disclosed": other_players,
                           "Percent of Other / Non-Disclosed": other_percentage},
        
                          index = [0])
genderDemo

,Count of Female Players,Count of Male Players,Count of Other / Non-Disclosed,Percent of Female Players,Percent of Male Players,Percent of Other / Non-Disclosed
0,136,573,11,0.174359,0.734615,0.014103

In [70]:
#Gender Purchase Analysis
purchGender = pd_file.groupby(["Gender"])
purchGender.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84

In [72]:
gnpurcount = pd.DataFrame(purchGender["Gender"].value_counts())
gnpurcount

                                             Gender
Gender                Gender
Female                Female                    136
Male                  Male                      633
Other / Non-Disclosed Other / Non-Disclosed      11

In [43]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'