In [2]:
#Dependencies
import pandas as pd
import numpy as np

In [3]:
#Save path to data set in a variable
data_file = "purchase_data.json"
data_file2 = "purchase_data2.json"
# pd_test = pd.Series([1,2,3,4])
# print(pd_test)

In [4]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'

In [5]:
#Use pandas to read the data
print(data_file)
#data_file_pd = pd.read_json(data_file)
pd_file = pd.read_json(data_file)
pd_file.head()

purchase_data.json

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [32]:
players_count = len(pd_file["SN"].value_counts())
players_count

573

In [33]:
#Unique Number of Items
unique_purchases = len(pd_file["Price"].unique())
unique_purchases

152

In [34]:
price_mean = pd_file["Price"].mean()
price_mean

2.931192307692303

In [35]:
#Total Number of Prurchases
purch_count = len(pd_file["Price"])
purch_count

780

In [36]:
totalRev = sum(pd_file["Price"])
totalRev

2286.3299999999963

In [37]:
player_count = pd.DataFrame({"Player Count": players_count},
                           index = [0])
player_count

   Player Count
0           573

In [38]:
#Convert series into DataFrams
purchaseAnalysis= pd.DataFrame({"Number of Unique Items": unique_purchases,
                           "Average Purchase Price": price_mean,
                           "Total Number of Purchases": purch_count,
                           "Total Revenue": totalRev},
                          index = [0])
purchaseAnalysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,152,780,2286.33

In [39]:
#Gender Demographics
#Percentage and Counts of Male/Female Players
#Percentage and Counts of Other/Non-Disclosed
#same player can have multiple items 
male_count_1 = pd_file.groupby(["SN", "Gender"]).size()
#male_count_1.count().head()

players_1 = pd.DataFrame(male_count_1)
players_1
players_2 = pd.DataFrame(players_1.groupby(["Gender"]).count())
players_2.columns = ["GenderCount"]
players_2

                       GenderCount
Gender
Female                         100
Male                           465
Other / Non-Disclosed            8

In [40]:
# players_male = len(pd_file.loc[pd_file["Gender"] == "Male"])
# players_male
# male_players = len(male_count_1)
# male_players
players_male = players_2["GenderCount"].loc["Male"]
print(players_male)

465

In [67]:
# male_percentage = male_players / purch_count
# male_percentage * 100
male_percentage = round(players_male / player_count, 2) * 100
male_percentage
#male_percentage * 100

   Player Count
0          81.0

In [68]:
# female_players = len(pd_file.loc[pd_file["Gender"] == "Female"])
# female_players
female_players = players_2["GenderCount"].loc["Female"]
female_players

100

In [69]:
female_percentage = round(female_players_1 / player_count, 2) * 100
female_percentage
#female_percentage * 100

   Player Count
0          17.0

In [70]:
# other_players = len(pd_file[pd_file["Gender"] == "Other / Non-Disclosed"])
# other_players
other_players = players_2["GenderCount"].loc["Other / Non-Disclosed"]
other_players

8

In [71]:
other_percentage = round(other_players / player_count, 2) * 100
other_percentage 
#other_percentage * 100

   Player Count
0           1.0

In [72]:
#Convert series into DataFrames
genderDemo= pd.DataFrame({"Count of Male Players": players_male,
                           "Percent of Male Players": male_percentage,
                           "Count of Female Players": female_players,
                           "Percent of Female Players": female_percentage,
                           "Count of Other / Non-Disclosed": other_players,
                           "Percent of Other / Non-Disclosed": other_percentage},
        
                          index = [0])
genderDemo

,Count of Female Players,Count of Male Players,Count of Other / Non-Disclosed,Percent of Female Players,Percent of Male Players,Percent of Other / Non-Disclosed
0,100,465,8,17,81,1

In [70]:
#Gender Purchase Analysis
purchGender = pd_file.groupby(["Gender"])
purchGender.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84

In [105]:
gnpurcount = pd_file["Gender"].value_counts()
#gnpurcount = pd.DataFrame(purchGender[3].value_counts())
gnpurcount

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [103]:
groupprice1 = purchGender["Price"].mean()
groupprice1

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [102]:
purchbygen = purchGender["Price"].sum()
purchbygen

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [106]:
genderpa = pd.DataFrame({"Purchase Count":gnpurcount,
                        "Average Purchase Price":groupprice1,
                         "Total Purchase Value":purchbygen})
#NEED NORMALIZED TOTALS
genderpa

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

In [107]:
#Age Demographics
#Break into Bins of 4 Years
Bins_1 = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bins_Names = ["<10", "10-14", "15-19", "20-24", "25-29",
             "30-34", "35-39", "40+"]
bins_Names

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [109]:
pd.cut(pd_file["Age"], Bins_1, labels = bins_Names).head()

0    35-39
1    20-24
2    30-34
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [43]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'