In [24]:
#Dependencies
import pandas as pd
import numpy as np

In [25]:
#Save path to data set in a variable
data_file = "purchase_data.json"
data_file2 = "purchase_data2.json"
# pd_test = pd.Series([1,2,3,4])
# print(pd_test)

In [26]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'

In [27]:
#Use pandas to read the data
print(data_file)
#data_file_pd = pd.read_json(data_file)
pd_file = pd.read_json(data_file)
pd_file.head()

purchase_data.json

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [33]:
players_count = len(pd_file["SN"])
players_count

780

In [35]:
#Unique Number of Items
unique_purchases = len(pd_file["Price"].unique())
unique_purchases

152

In [36]:
price_mean = pd_file["Price"].mean()
price_mean

2.931192307692303

In [37]:
#Total Number of Prurchases
purch_count = len(pd_file["Price"])
purch_count

780

In [38]:
totalRev = sum(pd_file["Price"])
totalRev

2286.3299999999963

In [39]:
player_count = pd.DataFrame({"Player Count": players_count},
                           index = [0])
player_count

   Player Count
0           780

In [40]:
#Convert series into DataFrams
purchaseAnalysis= pd.DataFrame({"Number of Unique Items": unique_purchases,
                           "Average Purchase Price": price_mean,
                           "Total Number of Purchases": purch_count,
                           "Total Revenue": totalRev},
                          index = [0])
purchaseAnalysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,152,780,2286.33

In [42]:
#Gender Demographics
#Percentage and Counts of Male/Female Players
#Percentage and Counts of Other/Non-Disclosed
male_count_1 = pd_file.groupby(["SN", "Gender"])
male_count_1.count().head()

                     Age  Item ID  Item Name  Price
SN           Gender
Adairialis76 Male      1        1          1      1
Aduephos78   Male      3        3          3      3
Aeduera68    Male      3        3          3      3
Aela49       Male      1        1          1      1
Aela59       Male      1        1          1      1

In [45]:
players_male = len(pd_file.loc[pd_file["Gender"] == "Male"])
players_male

633

In [48]:
male_percentage_1 = players_male / purch_count
male_percentage_1 * 100

81.15384615384616

In [43]:
pwd

'C:\\Users\\mukag\\Desktop\\rcb'